<!DOCTYPE html>
<html>
 
<head>
    <title>AutoComplete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>
 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
        type="text/css" />
</head>
 
<body>
 {% block content %}
    <input type="text" id="tags">
    <script>
        $(function () {
            var availableTags = [
                {% for product in products %}
            "{{product.name}}"
            {% endfor %}
    ];
        $("#tags").autocomplete({
            source: availableTags
        });
  } );
    </script>

{% endblock %}
</body>
 
</html>